<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<Bundle 
		Name="3D Celtic Knot Installer" 
		Manufacturer="David Llewellyn-Jones" 
		Version="$(env.productversion)" 
		UpgradeCode="B43A728E-4876-44C9-94A7-9799C0AAC4A3"
		>
	<Variable Name="InstallFolder" Value="[ProgramFilesFolder]Knot" />
	<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" />
	<WixVariable Id="WixStdbaLicenseUrl" Value="" />
	<WixVariable Id="WixStdbaLogo" Value="knot48.png" />
	<Chain>
		<MsiPackage 
			Id="Knot" 
			SourceFile="..\..\knot-$(env.productversion)-win32-bin.msi" 
			DisplayInternalUI="no" 
			Vital="yes" 
			Compressed="yes" 
			>
			<MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
		</MsiPackage>
		<ExePackage 
			Id="GTK_2.12.9" 
			SourceFile="gtk-2.12.9-win32-2.exe" 
			PerMachine="yes" 
			Vital="yes" 
			Compressed="yes" 
			InstallCommand="/S" 
			/>
	</Chain>
  </Bundle>
</Wix>
